<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="<%=fontName%>.css">
<style type="text/css">
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    float: left;
    padding: 10px;
    text-align: center;
}
ul li:hover{
    background: #ddd;
}

i{
	display: block;
}

.class-name li, .hex li, .binary li{
	display: none;
}
.class-name .class-name-demo{
	display: block;
}
.hex .hex-demo{
	display: block;
}
.binary .binary-demo{
	display: block;
}

.binary .binary-demo pre{
	display: inline;
}


</style>
</head>
<body>
<ul id="icon-show-type">
	<li onclick="showIconType(0)">className</li>
	<li onclick="showIconType(1)">hex</li>
	<li onclick="showIconType(2)">binary</li>
</ul>

<ul id="icon-list" class="class-name">
<% _.each(glyphs, function(glyph) { %>
<li class="class-name-demo">
    <i class="<%= cssClass %> <%= cssClass %>-<%= glyph.fileName %>"></i>
    <pre><%= cssClass %>-<%= glyph.fileName %></pre>
</li>
<li class="hex-demo">
    <i class="<%= cssClass %> <%= cssClass %>-<%= glyph.fileName %>"></i>
    <pre>\<%= glyph.codePoint %></pre>
</li>
<li class="binary-demo">
    <i class="<%= cssClass %> <%= cssClass %>-<%= glyph.fileName %>"></i>
    <pre>&#</pre><pre><%=+('0x' + glyph.codePoint).toString(10)%>;</pre>
</li>
<% }); %>
</ul>

<script type="text/javascript">
	function showIconType(type){
		var classMap = {
			0: 'class-name',
			1: 'hex',
			2: 'binary',
		};

		document.getElementById('icon-list').className = classMap[type];

	}
</script>
</body>
</html>